* {
    font-family: 'Raleway';
}
body {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%);
}
.content {
    margin-right: 5%;
    margin-left: 5%;
}

.product {
    min-width: 1217px;
}

.navbar {
    width: 89.4%;
    display: flex;
    min-width: 1217px;
    position: absolute;
    padding-bottom: -40px;
    margin-top: 40px;
}
.navbar * {
    margin-right: 5px;
    padding-right: 1%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    display: flex;
    height: 40px;
    color: #FFFFFF;
    font-weight: 700;
}
.leftNavbar {
    width: 26%;
    padding-left: calc(1% + 5px);
    padding-right: 5px;
    background: #FC8C45;
    border-radius: 75px 0px 100px;
}
.rightNavbar {
    font-size: 15px;
    padding-left: 25px;
    width: 100%;
    background: #FC8C45;
    border-radius: 100px 0px 0px 0px;
}
.rightNavbar a:hover {
    cursor: pointer;
}
.navbarIcon {
    width: 30px;
}
.navbarFJ {
    font-size: 20px;
}
.navbarBN {
    margin-right: 30px;
    font-size: 10px;
}

.panel {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0px 30px;
}
.panelChildren {
    padding-bottom: 3%;
    padding-right: 2%;
    padding-left: 2%;
}
.lightPanel {
    background-color: #FFFFFF;
    color: #6A6A6A;
}
.darkPanel {
    background-color: #575757;
    color: #FFFFFF;
}
.panelHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

.topArtefact {
    margin-top: 40px;
    margin-left: auto; 
    width: 100px;
    height: 40px;
    background: #FC8C45;
    border-radius: 50px 0px 0px 50px;
}
.bottomArtefact {
    width: calc(100% - (94% + 0px));
    margin-left: calc(100% + (100% - (94% + 0px)));
    margin-bottom: 40px;
    height: 40px;
    background-color: #D97B40;
}
  
.panelHeaderTitle {
    color: #FC8C45;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 12px;
}
.panelHeaderDescription {
    font-weight: 700;
    font-size: 22px;
}

.blocksContainer {
    display: flex;
    flex-direction: row;
}
.block {
    background: #F9F9F9;
    border-radius: 20px;
    margin: 10px;
    padding: 1%;
    width: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blockTitle {
    color: #FC8C45;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 12px;
}
.blockDescription {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}
.blockIcon {
    width: 80px;
    margin-right: auto;
    margin-left: auto;
}

.instructionsContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.instructionTitle {
    color: #FC8C45;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 12px;
}
.instructionDescription {
    font-weight: 400;
    font-size: 18px;
    min-height: 150px;
}

.screenshotImage {
    height: 360px;
    border-radius: 25px;
    border: 4px solid #FC8C45;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    margin-bottom: 5px;
}
.screenshotSignature {
    font-weight: 400;
    font-size: 10px;
    color: #6A6A6A;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;  
}
.btn {
    width: 150px;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    border: 4px solid #FC8C45;
    border-radius: 50px;
    font-weight: 700;
    font-size: 14px;
    color: #FC8C45;     
}
.btn:hover {
    cursor: pointer;
}

.extensionContainer {
    display: flex;
    flex-direction: row;
}
.extensionInstructionContainer {
    margin-top: -110px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.APIcontentContainer {
    display: flex;
    justify-content: center;
}
.APIcontentContainer img {
    margin-right: 0;
    margin-left: 0;
}

.guideLine {
    width: 100%;
    display: flex;
    min-width: 1217px;
    justify-content: space-between;
}
.LeftCursorIcon {
    width: 50px;
    margin-left: -22px;
}
.RightCursorIcon {
    width: 50px;
    margin-right: -22px;
}